* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
}

.map-container {
    max-width: 90vw;
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

svg g {
    fill: #2c3e50;
    stroke: #34495e;
    stroke-width: 2;
}

svg g:hover {
    transform: scale(1); /* Scale up the entire group */
    cursor: pointer; /* Change cursor to pointer on hover */
    fill: #3498db;
}

#chatroom-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.country-panel {
    position: fixed;
    top: 0;
    left: -50%; 
    width: 40%;
    height: 100vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.4s ease-in-out, transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    overflow-y: auto;
    z-index: 1000;
}

.country-panel.visible {
    left: 0; 
}

#close-panel-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 16px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#close-panel-btn:hover {
    background-color: #c0392b;
}

#country-name {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3498db;
}

#country-data {
    list-style: none;
    font-size: 16px;
}

#country-data li {
    margin-bottom: 10px;
    white-space: pre-wrap; /* Preserve JSON formatting */
}
